@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserrat/static/Montserrat-Medium.ttf");
}

:root {
    --color-background: rgb(30, 30, 30);
    --color-text: rgb(140, 140, 140);
    --color-shadow: rgb(100, 100, 100);
    --color-dot: rgb(140, 140, 140);
    --color-active-dot: rgb(230, 230, 230);
    --color-danger: rgb(0, 200, 0);
    --color-red: rgb(150, 0, 0);

    --screens: 3;
    --memes: 5;
}
  
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

body {
    height: 100vh;

    color: var(--color-text);
    background-color: var(--color-background);
    font-family: 'Montserrat', sans-serif;
}

.body-wrapper {
    width: 100%;
    height: 100%;

    margin: 0 0;

    overflow: hidden;
}
.body-slider {
    width: calc(100% * var(--screens));
    height: 100%;

    display: flex;

    transition: all 0.5s ease;
}
.body-slide {
    width: calc(100% / var(--screens));
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease;
}

/* body-slider */
#body1:checked ~ .body-slider {
    margin-left: 0%;
}
#body2:checked ~ .body-slider {
    margin-left: -100%;
}
#body3:checked ~ .body-slider {
    margin-left: -200%;
}

/** ------------------ Morpheus slide #2 ------------------ **/
.matrix {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./matrix.png');

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.matrix label {
    width: 40%;
    height: 33%;

    cursor: pointer;
}
.matrix div {
    width: 20%;
    height: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.matrix p {
    color: var(--color-active-dot);
    text-align: center;

    animation: appear 6s ease;
}
@keyframes appear {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/** ------------------ BLUE pill slide #3 ------------------ **/
.blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.danger {
    padding: calc(1em / 4);
    font-size: 7em;
    text-align: center;
    text-shadow: 0 0 calc(1em / 4) var(--color-background);
    color: var(--color-background);

    border-radius: calc(1em / 2);
    box-shadow: 0 0 calc(1em / 2) var(--color-danger), 0 0 calc(1em / 4) var(--color-danger);
    background-color: var(--color-danger);
}
a {
    padding: calc(1em / 4);
    font-size: 4em;
    text-align: center;
    text-shadow: 0 0 calc(1em / 4) var(--color-danger);
    color: var(--color-danger);
    text-decoration: none;

    border-radius: calc(1em / 2);
    border: 0.1em solid var(--color-danger);

    animation: danger 2s ease;
    animation-iteration-count: infinite;
}
.blue label {
    cursor: pointer;
    font-size: 2em;
}
@keyframes danger {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}

/** ------------------ MAIN slide #1 ------------------ **/
.red {
    padding: 1em;
}
.wrapper {
    width: 100%;
    max-width: 60em;
    height: 100%;
    max-height: 40em;
    padding: 0.5em;

    display: flex;

    border-radius: calc(1em / 4);
    box-shadow: 0 0 calc(1em / 2) var(--color-shadow);
}

/* in .wrapper - flex-horizontal */
.wrapper-input, .body-input {
    display: none;
}
.wrapper-inner {
    width: calc(100% - 4em);
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1em;
}
.wrapper-arrows-prev, .wrapper-arrows-next {
    width: 2em;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* end .wrapper */

/* in .wrapper-inner - flex-vertical */
.wrapper-slider {
    width: 100%;
    height: 85%;

    overflow: hidden;
}
.wrapper-footer {
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: space-between;
    gap: 1em;
}
/* end .wrapper-inner */

/* in .wrapper-slider */
.slider {
    width: calc(100% * var(--memes));
    height: 100%;

    display: flex;

    transition: all 0.5s ease;
}
.slide {
    width: calc(100% / var(--memes));
    height: 100%;

    transition: all 0.5s ease;
}
.image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.image1 {
    background-image: url('./slide1.jpg');
}
.image2 {
    background-image: url('./slide2.jpg');
}
.image3 {
    background-image: url('./slide3.jpg');
}
.image4 {
    background-image: url('./slide4.jpg');
}
.image5 {
    display: flex;
    justify-content: center;
    align-items: center;
}
video {
    width: 100%;
    height: auto;
    max-height: 100%;
}
/* end .wrapper-slider */

/* in .wrapper-footer - flex-horizontal */
.wrapper-text-slider {
    height: 100%;
    width: 100%;

    overflow: hidden;
}
.wrapper-text-slider .text {
    width: 100%;
    height: 100%;
}

.wrapper-control {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(1em / 4);
}
.wrapper-dots {
    display: flex;
    gap: calc(1em / 4);
}
.wrapper-dots label {
    width: calc(1em * 2);
    height: calc(1em * 2);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.dot {
    width: 1em;
    height: 1em;

    border: calc(1em / 8) solid var(--color-dot);
    border-radius: 50%;

    transition: all 0.3s ease-out
}
.wrapper-dots label:hover .dot {
    width: 1.5em;
    height: 1.5em;
    border: calc(1em / 8) solid var(--color-active-dot);
}
.wrapper-dots label:active .dot {
    width: 1.5em;
    height: 1.5em;
    border: calc(1em / 8) solid var(--color-red);
    background-color: var(--color-red);
}
.wrapper-control label {
    text-align: center;
    cursor: pointer;

    transition: all 0.3s ease-out
}
.wrapper-control label:hover {
    color: var(--color-active-dot);
}
/* end .wrapper-footer */

/* in .wrapper-arrows-prev, .wrapper-arrows-next */
.wrapper-arrows-prev label, .wrapper-arrows-next label {
    width: 2em;
    height: 2em;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;

    display: none;
}
.prev, .next {
    width: 70%;
    height: 70%;

    border-top: calc(1em / 8) solid var(--color-dot);
    border-left: calc(1em / 8) solid var(--color-dot);

    transition: all 0.3s ease-out
}
.prev {
    transform: rotate(-45deg);
}
.next {
    transform: rotate(135deg);
}
.wrapper-arrows-prev label:hover .prev, .wrapper-arrows-next label:hover .next {
    width: 80%;
    height: 80%;
    border-top: calc(1em / 6) solid var(--color-active-dot);
    border-left: calc(1em / 6) solid var(--color-active-dot);
}
/* end .wrapper-arrows-prev, .wrapper-arrows-next */


/* slider */
#slide1:checked ~ .wrapper-inner .slider, #slide1:checked ~ .wrapper-inner .slider {
    margin-left: 0;
}
#slide2:checked ~ .wrapper-inner .slider, #slide2:checked ~ .wrapper-inner .slider {
    margin-left: -100%;
}
#slide3:checked ~ .wrapper-inner .slider, #slide3:checked ~ .wrapper-inner .slider {
    margin-left: -200%;
}
#slide4:checked ~ .wrapper-inner .slider, #slide4:checked ~ .wrapper-inner .slider {
    margin-left: -300%;
}
#slide5:checked ~ .wrapper-inner .slider, #slide5:checked ~ .wrapper-inner .slider {
    margin-left: -400%;
}

/* arrows */
#slide1:checked ~ .wrapper-arrows-prev label:nth-of-type(1),
#slide2:checked ~ .wrapper-arrows-prev label:nth-of-type(2),
#slide3:checked ~ .wrapper-arrows-prev label:nth-of-type(3),
#slide4:checked ~ .wrapper-arrows-prev label:nth-of-type(4),
#slide5:checked ~ .wrapper-arrows-prev label:nth-of-type(5),

#slide1:checked ~ .wrapper-arrows-next label:nth-of-type(1),
#slide2:checked ~ .wrapper-arrows-next label:nth-of-type(2),
#slide3:checked ~ .wrapper-arrows-next label:nth-of-type(3),
#slide4:checked ~ .wrapper-arrows-next label:nth-of-type(4), 
#slide5:checked ~ .wrapper-arrows-next label:nth-of-type(5) {
    display: flex;
}

/* dots */
#slide1:checked ~ .wrapper-inner label:nth-of-type(1) .dot,
#slide2:checked ~ .wrapper-inner label:nth-of-type(2) .dot,
#slide3:checked ~ .wrapper-inner label:nth-of-type(3) .dot,
#slide4:checked ~ .wrapper-inner label:nth-of-type(4) .dot,
#slide5:checked ~ .wrapper-inner label:nth-of-type(5) .dot {
    background-color: var(--color-dot);
}
#slide1:checked ~ .wrapper-inner label:nth-of-type(1):hover .dot,
#slide2:checked ~ .wrapper-inner label:nth-of-type(2):hover .dot,
#slide3:checked ~ .wrapper-inner label:nth-of-type(3):hover .dot,
#slide4:checked ~ .wrapper-inner label:nth-of-type(4):hover .dot,
#slide5:checked ~ .wrapper-inner label:nth-of-type(5):hover .dot {
    background-color: var(--color-active-dot);
}
#slide1:checked ~ .wrapper-inner label:nth-of-type(1):active .dot,
#slide2:checked ~ .wrapper-inner label:nth-of-type(2):active .dot,
#slide3:checked ~ .wrapper-inner label:nth-of-type(3):active .dot,
#slide4:checked ~ .wrapper-inner label:nth-of-type(4):active .dot,
#slide5:checked ~ .wrapper-inner label:nth-of-type(5):active .dot {
    background-color: var(--color-red);
}


@media (min-width: 768px) and (max-width: 1200px) {
    /** ------------------ Morpheus slide #2 ------------------ **/
    .matrix label {
        height: 50%;
    }
    .matrix div {
        height: 50%;
    }
    .matrix p {
        font-size: 0.8em;
    }

    /** ------------------ BLUE pill slide #3 ------------------ **/
    .blue {
        gap: 2em;
    }
    .danger {
        font-size: 4em;
    }
    a {
        font-size: 3em;
    }
    .blue label {
        font-size: 2em;
    }

    /** ------------------ MAIN slide #1 ------------------ **/
    .red {
        padding: 0.5em;
    }
    .wrapper {
        max-width: 80%;
        max-height: 30em;
    }
}

@media (max-width: 768px) {
    /** ------------------ Morpheus slide #2 ------------------ **/
    .matrix label {
        height: 70%;
    }
    .matrix div {
        height: 70%;
    }
    .matrix p {
        font-size: 0.6em;
    }

    /** ------------------ BLUE pill slide #3 ------------------ **/
    .blue {
        gap: 1em;
    }
    .danger {
        font-size: 2em;
    }
    a {
        font-size: 1.5em;
    }
    .blue label {
        font-size: 1em;
    }
    

    /** ------------------ MAIN slide #1 ------------------ **/
    .red {
        padding: 0.2em;
    }
        .wrapper {
        max-width: 90%;
        max-height: 20em;
        padding: 0.2em;
    }
    .wrapper-inner {
        width: calc(100% - 3em);
        gap: 0.2em;
    }
    .wrapper-arrows-prev, .wrapper-arrows-next {
        width: 1.5em;
        height: 80%;
    }
    .wrapper-arrows-prev label, .wrapper-arrows-next label {
        width: 1.5em;
        height: 1.5em;
    }

    .wrapper-text-slider .text {
        font-size: 0.7em;
        /* text-align: center; */
    }

    .wrapper-slider {
        height: 75%;
    }
    .wrapper-footer {
        height: 25%;
        gap: 0.2em;

        flex-direction: column;
    }
    
    .wrapper-control {
        gap: calc(1em / 8);
        order: -1;

        justify-content: center;
    }
    .wrapper-dots {
        gap: calc(1em / 8);

        justify-content: center;
    }
    .wrapper-dots label {
        width: calc(3em * 1.6);
        height: calc(1em * 1.6);
    }
    .wrapper-control label {
        font-size: 0.7em;
        order: -1;
    }
    .dot {
        width: 2em;
        height: 0.7em;

        border-radius: 30%;
    }
    .wrapper-dots label:hover .dot {
        width: 2.5em;
        height: 0.7em;
    }
}