@font-face {
    font-family: 'Montserrat';
    src: url("./fonts/Montserrat/static/Montserrat-Medium.ttf");
}

:root {
    --color-background: rgb(30, 30, 30);
    --color-text: rgb(140, 140, 140);
    --color-shadow: rgb(100, 100, 100);
    --color-dot: rgb(140, 140, 140);
    --color-active-dot: rgb(230, 230, 230);
    --color-danger: rgb(0, 200, 0);

    --screens: 3;
    --memes: 4;
}
  
* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth; 
}

body {
    height: 100vh;

    color: var(--color-text);
    background-color: var(--color-background);
    font-family: 'Montserrat', sans-serif;

    /* font-size: 10px; */
}

.body-wrapper {
    width: 100%;
    height: 100%;

    margin: 0 0;

    overflow: hidden;
}
.body-slider {
    width: calc(100% * var(--screens));
    height: 100%;

    display: flex;

    transition: all 0.5s ease;
}
.body-slide {
    width: calc(100% / var(--screens));
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.5s ease;
}

/* body-slider */
#body1:checked ~ .body-slider {
    margin-left: 0%;
}
#body2:checked ~ .body-slider {
    margin-left: -100%;
}
#body3:checked ~ .body-slider {
    margin-left: -200%;
}

/** ------------------ Morpheus slide #2 ------------------ **/
.matrix {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./matrix.png');

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.matrix label {
    width: 40%;
    height: 33%;

    cursor: pointer;
}
.matrix div {
    width: 20%;
    height: 33%;

    display: flex;
    justify-content: center;
    align-items: center;
}
.matrix p {
    color: var(--color-active-dot);

    animation: appear 6s ease;
}
@keyframes appear {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/** ------------------ BLUE pill slide #3 ------------------ **/
.blue {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5em;
}
.danger {
    padding: calc(1em / 4);
    font-size: 7em;
    text-align: center;
    text-shadow: 0 0 calc(1em / 4) var(--color-background);
    color: var(--color-background);

    border-radius: calc(1em / 2);
    box-shadow: 0 0 calc(1em / 2) var(--color-danger), 0 0 calc(1em / 4) var(--color-danger);
    background-color: var(--color-danger);
}
a {
    padding: calc(1em / 4);
    font-size: 4em;
    text-align: center;
    text-shadow: 0 0 calc(1em / 4) var(--color-danger);
    color: var(--color-danger);
    text-decoration: none;

    border-radius: calc(1em / 2);
    border: 0.1em solid var(--color-danger);

    animation: danger 2s ease;
    animation-iteration-count: infinite;
}
.blue label {
    cursor: pointer;
    font-size: 2em;
}
@keyframes danger {
    0% { opacity: 1; }
    50% { opacity: 0.2; }
    100% { opacity: 1; }
}

/** ------------------ MAIN slide #1 ------------------ **/
.wrapper { /* red */
    width: 100%;
    max-width: 50em;
    height: 100%;
    max-height: 50em;
    padding: 0.5em;

    display: flex;

    border-radius: calc(1em / 4);
    box-shadow: 0 0 calc(1em / 2) var(--color-shadow);
}

/* in .wrapper - flex-horizontal */
.wrapper-input, .body-input {
    width: 0%;
    height: 0%;
}
.wrapper-inner {
    width: calc(100% - 4em);
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 1em;
}
.wrapper-arrows-prev, .wrapper-arrows-next {
    width: 2em;
    height: 80%;

    display: flex;
    justify-content: center;
    align-items: center;
}
/* end .wrapper */

/* in .wrapper-inner - flex-vertical */
.wrapper-slider {
    width: 100%;
    height: 80%;

    overflow: hidden;
}
.wrapper-footer {
    width: 100%;
    height: 20%;

    display: flex;
    justify-content: space-between;
    gap: 1em;
}
/* end .wrapper-inner */

/* in .wrapper-slider */
.slider {
    width: calc(100% * var(--memes));
    height: 100%;

    display: flex;

    transition: all 0.5s ease;
}
.slide {
    width: calc(100% / var(--memes));
    height: 100%;

    transition: all 0.5s ease;
}
.image {
    width: 100%;
    height: 100%;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain; /* cover; */
}

.image1 {
    background-image: url('./far.gif');
}
.image2 {
    background-image: url('./far.gif');
}
.image3 {
    background-image: url('./far.gif');
}
.image4 {
    background-image: url('./far.gif');
}
/* end .wrapper-slider */

/* in .wrapper-footer - flex-horizontal */
.wrapper-text-slider {
    height: 100%;
    width: 100%;

    overflow: hidden;
}
.wrapper-text-slider .text {
    width: 100%;
    height: 100%;
}

.wrapper-control {
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: calc(1em / 4);
}
.wrapper-dots {
    display: flex;
    gap: calc(1em / 4);
}
.wrapper-dots label {
    width: calc(1em * 2);
    height: calc(1em * 2);

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.dot {
    width: 1em;
    height: 1em;

    border: calc(1em / 8) solid var(--color-dot);
    border-radius: 50%;

    transition: all 0.3s ease-out
}
.wrapper-dots label:hover .dot {
    width: 1.5em;
    height: 1.5em;
    border: calc(1em / 8) solid var(--color-active-dot);
}
.wrapper-control label {
    text-align: center;
    cursor: pointer;

    transition: all 0.3s ease-out
}
.wrapper-control label:hover {
    color: var(--color-active-dot);
}
/* end .wrapper-footer */

/* in .wrapper-arrows-prev, .wrapper-arrows-next */
.wrapper-arrows-prev label, .wrapper-arrows-next label {
    width: 0%;
    height: 0%;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    cursor: pointer;
}
.prev, .next {
    width: 70%;
    height: 70%;

    transition: all 0.3s ease-out
}
.prev {
    transform: rotate(-45deg);
}
.next {
    transform: rotate(135deg);
}
/* end .wrapper-arrows-prev, .wrapper-arrows-next */


/* slider */
#slide1:checked ~ .wrapper-inner .slider, #slide1:checked ~ .wrapper-inner .slider {
    margin-left: 0;
}
#slide2:checked ~ .wrapper-inner .slider, #slide2:checked ~ .wrapper-inner .slider {
    margin-left: -100%;
}
#slide3:checked ~ .wrapper-inner .slider, #slide3:checked ~ .wrapper-inner .slider {
    margin-left: -200%;
}
#slide4:checked ~ .wrapper-inner .slider, #slide4:checked ~ .wrapper-inner .slider {
    margin-left: -300%;
}


/* arrows */
#slide1:checked ~ .wrapper-arrows-prev label:nth-of-type(1),
#slide2:checked ~ .wrapper-arrows-prev label:nth-of-type(2),
#slide3:checked ~ .wrapper-arrows-prev label:nth-of-type(3),
#slide4:checked ~ .wrapper-arrows-prev label:nth-of-type(4),

#slide1:checked ~ .wrapper-arrows-next label:nth-of-type(1),
#slide2:checked ~ .wrapper-arrows-next label:nth-of-type(2),
#slide3:checked ~ .wrapper-arrows-next label:nth-of-type(3),
#slide4:checked ~ .wrapper-arrows-next label:nth-of-type(4) {
    width: 2em;
    height: 2em;
}
#slide1:checked ~ .wrapper-arrows-prev label:nth-of-type(1) .prev,
#slide2:checked ~ .wrapper-arrows-prev label:nth-of-type(2) .prev,
#slide3:checked ~ .wrapper-arrows-prev label:nth-of-type(3) .prev,
#slide4:checked ~ .wrapper-arrows-prev label:nth-of-type(4) .prev,

#slide1:checked ~ .wrapper-arrows-next label:nth-of-type(1) .next,
#slide2:checked ~ .wrapper-arrows-next label:nth-of-type(2) .next,
#slide3:checked ~ .wrapper-arrows-next label:nth-of-type(3) .next,
#slide4:checked ~ .wrapper-arrows-next label:nth-of-type(4) .next {
    border-top: calc(1em / 8) solid var(--color-dot);
    border-left: calc(1em / 8) solid var(--color-dot);
}
#slide1:checked ~ .wrapper-arrows-prev label:nth-of-type(1):hover .prev,
#slide2:checked ~ .wrapper-arrows-prev label:nth-of-type(2):hover .prev,
#slide3:checked ~ .wrapper-arrows-prev label:nth-of-type(3):hover .prev,
#slide4:checked ~ .wrapper-arrows-prev label:nth-of-type(4):hover .prev,

#slide1:checked ~ .wrapper-arrows-next label:nth-of-type(1):hover .next,
#slide2:checked ~ .wrapper-arrows-next label:nth-of-type(2):hover .next,
#slide3:checked ~ .wrapper-arrows-next label:nth-of-type(3):hover .next,
#slide4:checked ~ .wrapper-arrows-next label:nth-of-type(4):hover .next {
    width: 80%;
    height: 80%;
    border-top: calc(1em / 6) solid var(--color-active-dot);
    border-left: calc(1em / 6) solid var(--color-active-dot);
}


/* dots */
#slide1:checked ~ .wrapper-inner label:nth-of-type(1) .dot,
#slide2:checked ~ .wrapper-inner label:nth-of-type(2) .dot,
#slide3:checked ~ .wrapper-inner label:nth-of-type(3) .dot,
#slide4:checked ~ .wrapper-inner label:nth-of-type(4) .dot {
    background-color: var(--color-dot);
}
#slide1:checked ~ .wrapper-inner label:nth-of-type(1):hover .dot,
#slide2:checked ~ .wrapper-inner label:nth-of-type(2):hover .dot,
#slide3:checked ~ .wrapper-inner label:nth-of-type(3):hover .dot,
#slide4:checked ~ .wrapper-inner label:nth-of-type(4):hover .dot {
    background-color: var(--color-active-dot);
}
